.section {
    padding: 60px 0;
    margin: 70px 0;
    position: relative;
}

.main_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 701px;
}

.main_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.section_wrapper {
    max-width: 880px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--white);
}

.buttons_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.tabs_btn {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    border: 1px solid var(--white);
    width: 100%;
    border-radius: 6px;
    padding: 18px 20px;
    cursor: pointer;
}

.active {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.table_header {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--white);
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
}

.table_list {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    margin-bottom: 40px;
}

.table_item {
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 30px;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.table_item:not(:last-child) {
    border-bottom: 1px solid #e1e3e7;
}

.table_item img {
    border-radius: 100%;
}

.table_text {
    font-size: 20px;
    line-height: 1.4;
    color: var(--toggle-color);
    text-align: center;
}

.table_item_inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .buttons_wrapper {
        flex-direction: column;
        gap: 20px;
        max-width: 380px;
        margin: 0 auto 50px;
    }

    .main_image {
        min-height: 532px;
    }

}

@media (max-width: 560px) {
    .table_item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 18px 20px;
        font-size: 18px;
    }

    .table_header_cost {
        display: none;
    }

    .tabs_btn {
        font-size: 16px;
        padding: 15px 20px;
    }

    .table_text {
        font-size: 16px;
    }
}