.button {
    display: flex;
    flex: 1 0 auto;
    border-radius: 6px;
    padding: 13px 40px;
    background-color: var(--orange);


    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;

    transition: color 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: var(--dark-orange);
}

@media (max-width: 560px) {
    .button {
        padding: 12px 30px;
        font-size: 14px;
    }
}