.section {
    padding: 60px 0;
}

.pererabotka_wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.pererabotka_wrapper_content {
    width: 100%;
    padding: 60px;

    border-radius: 20px;
    
    background-color: var(--blue);
}

.pererabotka_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_desc {
    color: var(--white);
    max-width: 440px;
}

.pererabotka_item {
    display: flex;
    gap: 30px;
    
    background-color: rgba(255, 255, 255, .17);
    
    border-radius: 20px;
    padding: 20px;
}

.pattern {
    border-radius: 20px;
    max-height: 812px;
}