.header {
    background-color: var(--blue);
    border-radius: 20px;
    padding: 20px 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-weight: 500;
    color: var(--white);
}