.header {
    background-color: var(--blue);
    border-radius: 20px;
    padding: 20px 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-weight: 500;
    color: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 10px 0 20px;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    text-transform: lowercase;
}

.submenu .link {
    color: var(--blue);
}

.link:hover {
    color: var(--orange);
}

.link:hover .submenu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
}

.link_img {
    transition: transform 0.3s ease;
}

.link:hover .link_img {
    transform: rotate(180deg);
}

.link_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_link {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--white);
}