.section {
    padding: 60px 0;
}

.how_we_work_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    position: relative;

    background-color: var(--blue);
    border-radius: 20px;
    padding: 20px;

    min-height: 300px;
}

.item::after {
    content: '';
    bottom: 60px;
    position: absolute;
    width: calc(70% - 100px);
    height: 1px;

    background-color: var(--white);
}

.item:first-of-type {
    background-color: var(--orange);
}

.item_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-bottom: 20px;
}

.item_icon {
    width: 55px;
    height: 55px;
}

.item_title {
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
}

.item_desc {
    color: rgba(255, 255, 255, .8);

    font-size: 18px;
    font-weight: 400;

    max-width: 220px;
}

.count {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-weight: 700;
    font-size: 120px;
    color: var(--white);
}

@media screen and (max-width: 769px) {
    .how_we_work_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .section {
        padding: 40px 0;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 30px 0;
    }

    .section .container {
        margin-left: -20px;
        margin-right: -20px;
    }

    .how_we_work_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}