.section {
    padding: 60px 0;
}

.section_wrapper {
    display: grid;
    grid-template-columns: 60% 37.5%;
    gap: 30px;
}

.section_item {
    border-radius: 20px;
    background-image: url('../map_info/pattern_bg_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px;
}

.section_item .main-form {
    margin-left: auto;
}

@media (max-width: 1023px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0;
    }

    .image_wrapper {
        display: none;
    }

    .section_item {
        padding: 30px 20px;
        border-right: none;
    }
}

@media (max-width: 560px) {
    .section {
        padding: 30px 0;
    }
}